body {
  margin: 0;
  padding: 0;
  background-color: #B7E4F9FF;
}

h1{
  text-align: center;
}

h2{
  text-align: center;
}

.contenedor_principal{
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100vh;
}

.primer_div{
  text-align: center;
  align-items: center;
  
}


.div_buttons{
  text-align: center;
}

