



body {
  margin: 0;
  padding: 0;
  background-color: #B7E4F9FF;
}

h1{
  text-align: center;
}

h2{
  text-align: center;
}

.contenedor_principal{
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100vh;
}

.primer_div{
  text-align: center;
  align-items: center;
  
}


.div_buttons{
  text-align: center;
}



.zoomed {
  transform: scale(1.5);
  transition: transform 0.5s ease-in-out, box-shadow 0.5s ease-in-out, border 0.5s ease-in-out;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5); 
  border: 2px solid #fff;
}